footer {
    background-color: rgba(45, 52, 60, 1);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    color: #fff;
    .footer_text {
        li {

            padding: 7px;
        }
        p {
            padding: 7px;
        }
    }
    .footer_iconka {
        i {
            padding-right: 15px;
        }
    }
}